{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} 

<div id="second-nav">
    <div id="second-nav-left">

    </div>
    <div id="second-nav-center">
 
    </div>
  </div>

{{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title}}</h1>
</div>

<div>
    {{ $thisSection := .CurrentSection}}
    {{ range .Site.RegularPages.ByTitle }}
    {{ if eq $thisSection .Parent.Parent}}
    <div>
        <a href="{{.Permalink}}">{{.Parent.Title}} > {{.Title}}</a>
        <div>
            {{.Summary}}
        </div>
    </div>
    {{ end }}
{{ end }}
</div>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}

