{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title}}</h1>
</div>
<ul id="posts">

 {{ range .Paginator.Pages.ByTitle }} {{ partial "page-summary" . }} {{ end }}

 {{ range $section, $taxonomy := .Site.Sections }}
    <h2>{{ .Title }}</h2>
    <ul>
        {{ range $taxonomy.Pages }}
        <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
        {{ end }}
    </ul>
{{ end }}
</ul>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
