{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} 
<div id="second-nav">
    <div id="second-nav-left">
      {{.CurrentSection.Parent.Title}}
    </div>
    <div id="second-nav-center">
      {{.Parent.Title}} > {{.Title}}
    </div>
  </div>

{{end}}
  

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
</div>

<ul id="posts">
 {{ .Content }}
  
</ul>

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div id="see-also">See Also</div>
<div id="toc">
    <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{.CurrentSection.Parent.Params.shortTitle}} / {{ .Title }}</a></li>
        {{ end }}
      </ul>
</div>
{{ end }}

{{ end }} 

{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}

{{ define "sidebar" }}
  {{ partial "sidebar" .}}
{{ end }}