body {
    font-family: 'Open Sans';
    font-weight: 400;
}

p {
    margin-bottom: 10px;
}

header {
    font-family: "Open Sans";
}

#posts {
    text-align: left;
    line-height: 1.8rem;
    font-size: 1rem;
    margin-top: 0px;
    width: 800px;
    max-width: 800px;
    margin-bottom: 0px;
}

#posts li{
    margin-bottom: 0px;
}

#posts li p {
    margin-bottom: 5px;
}

#preamble {
    border-bottom: 1px #eee solid;
    padding-bottom: 10px;
}

.lead {
    font-weight: 600;
    margin-bottom: 20px;
}

#toc{
    position: relative;
}

#toc ul{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
}

#toc .sectlevel2 {
    margin-left: 20px;
}

#toc li{
    margin-bottom: 5px; 
    list-style: none;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background: #999;
    font-size: 12px;
}

#toc li a{
    text-decoration: none;
    color: white;
}

#toctitle{
    display: none;
    font-weight: 400;
    margin-bottom: 10px; 
    float: left;
    margin-right: 10px;
    color: #999;
}

.admonitionblock{
    background: #eee;
    color: #313439;
    margin-top:15px;
    margin-bottom:5px;
}

.admonitionblock .title{
    margin-top: 16px;
    text-align: center;
    font-weight: 600;
}

.admonitionblock .content{
    padding: 16px;
}

.icon{
    width: 150px;
    padding: 0px;
}

.tip .icon{
    background: #99C27E;
    color: white;
    text-transform: uppercase;
}

.note .icon{
    background: #2E76A4;
    color:white;
    text-transform: uppercase;
}

.warning .icon{
    background: #E54D4B;
    color:white;
    text-transform: uppercase;
}

.warning{
    color: #313439;
}

.ulist{
    margin-bottom: 20px;
}

.ulist p {
    margin-bottom:10px;
}


#posts .ulist li{
    margin-bottom:0px;
}

#hero{
    text-align: left;
    padding: 0px;
    line-height: 32px;
}

#hero h1{
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 600 !important;
    color: #130959;
    margin-top: 28px;
    line-height: 48px;
    margin-bottom: 15px;
}

#reading-time{
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.sectionbody{
    margin-top: 15px;
}

#posts h2{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    color: #130959;
    margin-top: 30px;
}

h3{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    color: #130959;
    margin-bottom: 10px;
    margin-top: 20px;
}

h4{
    font-size: 18px;
    margin-bottom: 0px;
    margin-top:20px;
}

.sidebar {
    width: 275px;
    padding: 5px;
    border-right: 1px #eee solid;
    padding-left: 50px;
    background: #efefef;
}

.sidebar h2{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}

.sidebar .sidebar-item{
    margin-bottom: 10px;
    font-size: 15px;
}

.sidebar a{
    text-decoration: none;
    color: black;
}

.main-content {
    max-width: 800px;
    padding-left: 50px;
}

.page-container {
    display: flex;
}

.nav-section {
    margin-top: 20px;
}

.nav-body {
    font-size: .93 rem;
}

.sidebar-item.current-page {
    text-indent:-19px;
}

.sidebar-item.current-page > a {
    color: #130959;
}

#collection {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    color: #130959;
}

#top {
    height: 60px !important;
    margin-bottom: 0px !important;
    border-bottom: 1px #eee solid;
    padding-left: 50px;
    text-transform: uppercase;
}

#top #top-nav-main {
    border-left: none;
}

#top-nav-extra li {
    margin-left: 10px;
}

.top-brand {
    line-height: 60px;
    max-height: 60px;
}

#top #top-brand span {
    line-height: 65px;
    text-transform: uppercase;
    vertical-align: top;
    font-size: 20px;
    color: #888;
}

#second-nav{
    background: #130959;
    height: 30px;
    color: #eee;
    line-height: 30px;
    font-size: 14px;
}

#second-nav-left{
    margin-left: 50px;
    width: 275px;
    float: left;
    text-transform: uppercase;
}

#title-tag{
    margin-top: -10px;
}

#footer{
    margin:0px;
}

#see-also{
    font-size:20px;
    margin-bottom: 10px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}