
  
<div id="top">
  <div id="top-brand">
    <a href="/" title="home"><img src="/images/logo.png"></a><span id="dev-tag"> Developer</span>
  </div>
  <nav id="top-nav-main">
    <ul>
      <li><b>Guides</b></li>
      <li>API Reference</li>
      <li>Sandbox</li>
      <li>SDKs</li>
      <li>More</li>
    </ul>
  </nav>
  <nav id="top-nav-extra"> 
    <ul>
      <li>Support</li>
      <li>EN</li>
      <li>Dashboard</li>
    </ul>
  </nav>
</div>
<div id="second-nav">
  <div id="second-nav-left">
    Developer Guides
  </div>
  <div id="second-nav-center">
    Cards > About Cards
  </div>
</div>
