
  
<div id="top">
  <div id="top-brand">
    <a href="/" title="home"><img src="/images/logo.png"></a><span id="dev-tag"> Developer</span>
  </div>
  <nav id="top-nav-main">
    <ul>
      {{ range .Site.Sections.ByWeight }}
        <li><a href="{{ .Permalink }}">{{.Params.shortTitle}}</a></li>
        {{ end }}
      <li>Sandbox</li>
      <li>SDKs</li>
      <li>More</li>
    </ul>
  </nav>
  <nav id="top-nav-extra"> 
    <ul>
      <li>Support</li>
      <li>EN</li>
      <li>Dashboard</li>
    </ul>
  </nav>
</div>