<div class="nav-section">
{{ $pageAddress := .Permalink }}
{{ $thisSection := .CurrentSection }}
{{ range $section, $taxonomy := .Site.Sections }}
    {{if eq $thisSection.Parent .CurrentSection}}

    <div class="nav-body">
        {{ range $subsection, $subtaxonomy := $taxonomy.Sections}}
            <div class="nav-body">
                <h2>{{.Title}}</h2>
                <div class="nav-body">
                    {{ range .Pages }}
                        {{if eq $pageAddress .Permalink }}
                            <div class="sidebar-item current-page"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></div>
                        {{else}}
                           <div class="sidebar-item"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></div>
                        {{end}}
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
    {{ end }}
{{ end }}

</div>
